<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon</title>
    <link href="/views/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Add New Pokemon</h1>
    <form method="POST" action="/pokemon">
        <p>Enter information below</p>
        <input name="name" placeholder="Enter New Pokemon">
        <input name="img" placeholder="Enter Pokemon Picture" type="url">
        <input type="submit" value="Add Pokemon">
    </form>
    <a class="main" href="/pokemon"> Back To Main Pokemon </a>
</body>
</html>